<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Scheduloomi", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Employees", "Index", "Employees")</li>
            <li>@Html.ActionLink("Employers", "Index", "Employers")</li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</div>
